.inputDate {
    position: relative;

    label {
        position: absolute;
        top: 3px;
        left: 15px;
        color: #666666;
        font-size: 12px;
        font-weight: 300;
    }
    
    input {
        color: #959595;
        font-size: 16px;
        font-weight: 400;
        height: 50px;
        width: 100%;
        border: none;
        background-color: #ffffff;
        border-bottom: 3px solid #959595;
        padding-left: 0 15px;
        padding-top: 20px;
    }
    select {
        color: #959595;
        font-size: 16px;
        font-weight: 400;
        height: 50px;
        width: 100%;
        border: none;
        background-color: #ffffff;
        border-bottom: 3px solid #959595;
        padding-left: 0 15px;
        padding-top: 20px;
    }
    
}

.optionclass {
    position: absolute;
width: 134px;
height: 24px;
left: 15px;
top: 20px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */
color: #959595;
}

.bloque{
    z-index: 1000;
    position: absolute;
    width: 30px;
    height: 47px;
    right: 0px;
    top: 0px;
    background-color: #D9D9D9;
}
