.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #474436;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  margin-top: 2.2rem;
  overflow-y: auto;
}

.sidebar.visible {
  left: 0;
}

.title {
width: 65px;
height: 30px;
left: 20px;
margin-top: 5px;
margin-left:20px;

font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
margin-bottom: 0;
color: #FFFFFF;
}

.title1 {
    width: 250px;
    height: 30px;
    left: 20px;
    margin-top: 5px;
    margin-left:20px;
    
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    margin-bottom: 0;
    color: #FFFFFF;
    }

    .title2 {
        width: 250px;
        height: 30px;
        left: 20px;
        margin-top: 5px;
        margin-left:20px;
        
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        margin-bottom: 0;
        color: #FFFFFF;
        }

.contenedor {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 41px;
    left: 0px;
    top: 50px;
    border-right: 1px solid #959595;
    
    background: #282517;
    border-top: 1px solid #888A8C;
}

.contenedor1 {
    box-sizing: border-box;

position: absolute;
width: 250px;
height: 41px;
left: 0px;
top: 250px;
border-right: 1px solid #959595;


background: #282517;
border-top: 1px solid #888A8C;
}

.contenedor2 {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 41px;
    left: 0px;
    top: 464px;
    border-right: 1px solid #959595;

    
    background: #282517;
    border-top: 1px solid #888A8C;
}

.ul {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 174px;
    left: 0px;
    top: 91px;
    background: #474436;
    border-right: 1px solid #959595;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ul1 {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 174px;
    left: 0px;
    top: 291px;    
    background: #474436;
    border-right: 1px solid #959595;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ul2 {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 475px;
    left: 0px;
    top: 504px;    
    background: #474436;
    border-right: 1px solid #959595;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .ul2 {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #474436;
    border-right: 1px solid #959595;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */
  


.li {
  /* Tortas estándar */


width: 219px;
height: 27px;
margin-left: 30px;
margin-top: 4px;
margin-bottom: 4px;
background-color: #474436;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #959595;
}
