.button{
    button {
        font-family: Oswald;
        height: 40px;
        background-color: #0000ff;
        color: #ffffff;
        border: none;
        border-radius: 20px;
        width: 100%;
        transition: all 0.3s;

        &:active {
            transform: scale(0.9);
        }
    }
}